html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: sans-serif;
  color: var(--black, #2E2D2D);
  background: var(--white, #fff);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1350px;
  margin: 0 auto;
}

h1 {
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

h5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
}

h6 {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}

.menu-1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.menu-2 {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}