html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: var(--black, #2E2D2D);
  background: var(--white, #fff);
}

.no-scroll {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1254px;
  padding: 0 42px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1350px;
  margin: 0 auto;
}

.block {
  margin-bottom: 100px;
}

h1 {
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
}

h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

h5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}

.small {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}

.menu-1 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.menu-2 {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.num {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.colored-text {
  color: var(--green, #179860);
}

.btn-green {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  height: 50px;
  padding: 0 24px;
  color: var(--white, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  border-radius: 8px;
  background: var(--green, #179860);
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover {
    background: var(--green-hover, #2BAC74);
  }

  &:active {
    background: var(--green-active, #03844C);
  }

  &:disabled {
    color: var(--grey2, #EFEFEF);
    background: var(--grey, #A7A7A7);
  }
}

.btn-white {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  height: 50px;
  padding: 0 24px;
  color: var(--black, #2E2D2D);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  border-radius: 8px;
  background: var(--white, #fff);
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover {
    color: var(--green, #179860);
  }

  &:active {
    color: var(--grey, #A7A7A7);
  }

  &:disabled {
    color: var(--grey2, #EFEFEF);
  }
}

.btn-grey {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  height: 50px;
  padding: 0 24px;
  color: var(--black, #2E2D2D);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  border-radius: 8px;
  background: var(--bg, #F9F9F9);
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover {
    color: var(--green, #179860);
  }

  &:active {
    color: var(--grey, #A7A7A7);
  }

  &:disabled {
    opacity: 0.3;
    color: var(--grey, #A7A7A7);
    background: var(--grey2, #EFEFEF);
  }
}

.line {
  width: 100%;
  height: 1px;
  background: var(--grey2, #EFEFEF);
}

.title {}

.breadcrumbs {
  margin-bottom: 10px;

  &__list {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__item {
    &:first-child .breadcrumbs__link {
      color: var(--grey, #A7A7A7);
    }

    &:last-child .breadcrumbs__link {
      pointer-events: none;
    }
  }

  &__link {
    color: var(--black, #2E2D2D);
  }

  &__arrow {
    display: block;
    width: 4px;
    height: 7px;
  }
}

.page__head {
  margin-bottom: 40px;
}

.filter {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;

  &__items {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: max-content;
      height: 36px;
      border-radius: 8px;
      border: 1px solid var(--grey2, #EFEFEF);
      padding: 8px 37px 8px 15px;
      background: transparent;
      color: var(--black, #2E2D2D);
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%) rotate(45deg);
        display: block;
        width: 9px;
        height: 2px;
        background: var(--black, #2E2D2D);
        border-radius: 1px;
        transition: all 0.2s ease-out;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%) rotate(-45deg);
        display: block;
        width: 9px;
        height: 2px;
        background: var(--black, #2E2D2D);
        border-radius: 1px;
        transition: all 0.2s ease-out;
      }
    }

    &-flag {
      display: none;
      align-items: center;
      padding: 8px 38px 8px 10px;
      border-radius: 8px;
      background: var(--bg, #F9F9F9);
      position: relative;

      &.active {
        display: flex;
      }

      &::before {
        content: "";
        display: block;
        width: 10px;
        height: 1px;
        background: var(--black, #2E2D2D);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        transform: rotate(-45deg);
      }

      &::after {
        content: "";
        display: block;
        width: 10px;
        height: 1px;
        background: var(--black, #2E2D2D);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        transform: rotate(45deg);
      }
    }
  }

  &__list {
    display: none;
    position: absolute;
    z-index: 3;
    background: var(--white, #fff);
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    transition: all 0.2s ease-out;
    min-width: 100%;
    border: 1px solid var(--grey2, #EFEFEF);
    border-top: 0;

    &-item {
      padding: 8px 15px;
    }

    &-link {
      display: block;
      color: var(--black, #2E2D2D);

      &:hover {
        color: var(--green, #179860);
      }
    }
  }

  &__item-active {

    .filter__item-btn {
      border-radius: 8px 8px 0 0;
      border-bottom-color: transparent;
    }

    .filter__item-btn::before {
      background: var(--green, #179860);
      transform: rotate(-45deg);
      transition: all 0.2s ease-out;
    }

    .filter__item-btn::after {
      background: var(--green, #179860);
      transform: rotate(45deg);
      transition: all 0.2s ease-out;
    }

    .filter__list {
      display: block;
      transition: all 0.2s ease-out;
    }
  }

  &__btn {
    display: none;
    align-items: center;
    gap: 10px;
    height: 36px;
    border-radius: 8px;
    padding: 8px 10px;
    color: var(--white, #fff);
    background: var(--black, #2E2D2D);

    &-img {
      width: 17px;
      height: 17px;
      object-fit: cover;
    }
  }
}

.slick-dots {
  display: flex;
  gap: 6px;
  font-size: 8px;
  line-height: 8px;
  height: 12px;

  li {
    width: 100%;
  }

  button {
    width: 100%;
    min-width: 62.5px;
    height: 12px;
    border-radius: 5px;
    font-size: 0;
    line-height: 0;
    background: #e5e5e5;
  }

  .slick-active button {
    background: var(--black, #2E2D2D);
  }
}

input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &:checked+label::before {
    background-color: var(--brown, #857067);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='9' viewBox='0 0 12 9'%3e%3cpath fill='none' d='M2 3.66667L5.2 7L10 2' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
  }

  &+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    gap: 10px;

    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid var(--brown, #857067);
      border-radius: 4px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
  }
}

input[type=radio] {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &:checked+label::before {
    background-color: var(--brown, #857067);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }

  &+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    gap: 10px;

    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid var(--brown, #857067);
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid var(--grey2, #EFEFEF);
  border-radius: 8px;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey, #A7A7A7);
    border-radius: 8px;
    background: transparent;
    padding: 0 20px;
    width: 100%;
    position: relative;

    &.disabled {
      pointer-events: none;
      color: var(--grey2, #EFEFEF);
    }
  }

  &__list {
    display: flex;
    gap: 10px;
  }

  &__item {

    &-link,
    &-dots {
      border-radius: 8px;
      color: var(--black, #2E2D2D);
      background: var(--bg, #F9F9F9);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 52px;
      height: 52px;
    }
  }
}

.social {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 20px;
  border-radius: 0 30px 30px 0;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 998;
  background: var(--bg, #F9F9F9);
  width: fit-content;
  box-shadow: 0px 183px 73px rgba(0, 0, 0, 0.01), 0px 103px 62px rgba(0, 0, 0, 0.05), 0px 46px 46px rgba(0, 0, 0, 0.09), 0px 11px 25px rgba(0, 0, 0, 0.1);

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;

    &:last-child {
      padding-top: 20px;
      border-top: 2px solid var(--grey2, #EFEFEF);
    }
  }

  &__img {
    width: 18px;
    height: auto;
    object-fit: cover;
  }
}