html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: sans-serif;
  color: var(--black, #000);
  background: var(--white, #fff);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1440px;
  padding: 0 70px;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h6 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}