:root {
    --white: #FFFFFF;
    --black: #2E2D2D;
    --grey: #A7A7A7;
    --grey2: #EFEFEF;
    --brown: #857067;
    --brown2: #353434;
    --green: #179860;
    --green-hover: #2BAC74;
    --green-active: #03844C;
    --red: #D43E3E;
    --yellow: #FFB628;
    --blue: #171831;

    --bg: #F9F9F9;
}