<footer class="footer">
  <div class="container">
    <div class="footer__inner">

      <div class="footer__top">
        <a class="footer__logo" href="#!">
          <img class="footer__logo-img" src="../images/logo.svg" alt="logo">
        </a>

        <div class="footer__top-body">
          <ul class="footer__top-list">
            <li class="footer__top-item">
              <a class="footer__top-link menu-1" href="#!">Проекты</a>
            </li>
            <li class="footer__top-item">
              <a class="footer__top-link menu-1" href="#!">Наши работы</a>
            </li>
            <li class="footer__top-item">
              <a class="footer__top-link menu-1" href="#!">Вопрос-ответ</a>
            </li>
            <li class="footer__top-item">
              <a class="footer__top-link menu-1" href="#!">Контакты</a>
            </li>
            <li class="footer__top-item">
              <a class="footer__top-link menu-1" href="#!">
                <img class="footer__top-img" src="../images/icons/unlock.svg" alt="unlock">
                Личный кабинет
              </a>
            </li>
          </ul>

          <div class="footer__top-info">
            <div class="footer__contact">
              <a class="footer__contact-link" href="tel:89165562526">
                <h4>+7 (916) 556 25 26</h4>
              </a>
              <h6 class="menu-2">Звоните с 9 до 18 часов</h6>
            </div>
            <div class="footer__top-btn">
              <button class="btn-green" type="button">
                Заказать звонок
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="footer__menu">
        <div class="footer__menu-block">
          <h6 class="menu-1">О компании</h6>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link menu-1" href="#!">О нас</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link menu-1" href="#!">Вакансии</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link menu-1" href="#!">Клиентский сервис и гарантии</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link menu-1" href="#!">Партнёры</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link menu-1" href="#!">Документы</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link menu-1" href="#!">Способы оплаты</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link menu-1" href="#!">Отзывы</a>
            </li>
          </ul>
        </div>
        <div class="footer__menu-block">
          <h6 class="menu-1">Услуги</h6>
          <ul class="footer__menu-list">
            <li class="footer__menu-item">
              <a class="footer__menu-link menu-1" href="#!">Индивидуальное проектирование</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link menu-1" href="#!">Технический надзор</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link menu-1" href="#!">Барбекю, бани, беседки, забор из дерева</a>
            </li>
            <li class="footer__menu-item">
              <a class="footer__menu-link menu-1" href="#!">Строительство</a>
            </li>
          </ul>
        </div>
      </div>

      <span class="line"></span>

      <div class="footer__info">
        <div class="footer__info-item">
          <h6 class="small">Компания</h6>
          <p class="footer__info-text">ООО «ДСК-Вира»</p>
        </div>
        <div class="footer__info-item">
          <h6 class="small">Адрес</h6>
          <p class="footer__info-text">Москва, 2-й Котельнический пер., 3</p>
        </div>
        <div class="footer__info-item">
          <h6 class="small">Эл. почта</h6>
          <p class="footer__info-text">
            <a href="mailto:dsk-vira@yandex.ru" class="footer__info-link">dsk-vira@yandex.ru</a>
          </p>
        </div>
        <div class="footer__info-item">
          <h6 class="small">ИНН</h6>
          <p class="footer__info-text">5044075669</p>
        </div>
        <div class="footer__info-item">
          <h6 class="small">ОГРН</h6>
          <p class="footer__info-text">56695044077436</p>
        </div>
      </div>

      <span class="line"></span>

      <div class="footer__bottom">
        <div class="footer__bottom-item">
          <a class="footer__bottom-link small" href="#!">
            Сводная ведомость результатов проведения специальной оценки условий труда
          </a>
          <a class="footer__bottom-link small" href="#!">
            Политика в отношении обработки персональных данных
          </a>
        </div>
        <div class="footer__social">
          <a class="footer__social-link" href="https://vk.com/dsk_vira">
            <img class="footer__social-img" src="../images/social/vk.svg" alt="vk">
          </a>
          <a class="footer__social-link" href="https://youtube.com/@dsk-vira2995">
            <img class="footer__social-img" src="../images/social/youtube.svg" alt="youtube">
          </a>
          <span></span>
          <a class="footer__social-link" href="viber://chat?number=89165562526">
            <img class="footer__social-img" src="../images/social/Viber.svg" alt="viber">
          </a>
          <a class="footer__social-link" href="https://wa.me/89165562526">
            <img class="footer__social-img" src="../images/social/whatsapp.svg" alt="whatsapp">
          </a>
          <a class="footer__social-link" href="https://t.me/89165562526">
            <img class="footer__social-img" src="../images/social/telegram.svg" alt="telegram">
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="copyright__inner">
        <div class="copyright__item">
          <h6 class="small">2018 - 2023 © «ДСК-Вира»</h6>
        </div>
        <div class="copyright__item">
          <h6 class="small">Создание и продвижение</h6>
          <a class="copyright__link" href="#!">
            <img class="copyright__img" src="../images/icons/family.svg" alt="Family">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>

<script src="libs/jquery-3.7.0.js"></script>
<script src="libs/noUiSlider/nouislider.min.js"></script>
<script src="libs/slick/slick.min.js"></script>
<script defer src="js/main.js"></script>
</body>

</html>