<svg style="display: none;">

  <symbol id="faq-arrow" width="12" height="8" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g>
      <path d="M11 1.5l-5 5-5-5" />
    </g>
  </symbol>

  <symbol id="menu-arrow" width="8" height="5" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7 1L4.53 3.297a.793.793 0 01-1.06 0L1 1" stroke-miterlimit="10" stroke-linecap="round"
      stroke-linejoin="round" />
  </symbol>

  <symbol id="breadcrumbs-arrow" width="4" height="7" viewBox="0 0 4 7" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 1L2.83727 3.05808C3.05424 3.30114 3.05424 3.69886 2.83727 3.94192L1 6" stroke="#857067"
      stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
  </symbol>

  <symbol id="filter-arrow" width="8" height="4" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7 .5L4.53 2.797a.793.793 0 01-1.06 0L1 .5" stroke-miterlimit="10" stroke-linecap="round"
      stroke-linejoin="round" />
  </symbol>

  <symbol id="li-arrow" width="12" height="9" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 3.667L5.2 7 10 2" stroke="#179860" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
  </symbol>

</svg>