.unknown {

  &__inner {
    display: flex;
    gap: 60px;
    justify-content: space-between;
  }

  &__content {
    max-width: 470px;
    width: 100%;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-bottom: 40px;

    &-item {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &-arrow {
      display: flex;
      align-items: center;
      width: 12px;
      height: 22px;

      svg {
        width: 12px;
        height: 9px;
        object-fit: cover;
      }
    }
  }

  &__img {
    max-width: 570px;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__btns {
    display: flex;
    gap: 20px;
  }
}