.about {
  position: relative;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__text {
    max-width: 670px;
  }

  &__picture {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 44%;
    height: auto;
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__items {
    display: flex;
    gap: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 30px;
    border-radius: 30px;
    background: var(--bg, #F9F9F9);
    width: fit-content;

    &-num {
      white-space: nowrap;
    }
  }

  &__rec {
    display: flex;
    align-items: center;
    gap: 30px;

    &-img {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-title {
      span {
        color: var(--red, F#D43E3E);
      }
    }

    &-suptitle {
      color: var(--grey, #A7A7A7);
      position: relative;

      &::before {
        content: "*";
        position: absolute;
        top: 0;
        left: -8px;
        color: var(--red, F#D43E3E);
      }
    }
  }
}

.about-us {
  padding: 100px 0;
  background: var(--bg, #F9F9F9);

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  &__content {
    max-width: 570px;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__suptitle {
    color: var(--grey, #A7A7A7);
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }

  &__img {
    width: 470px;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
  }
}

.history {

  &__inner {
    display: flex;
    gap: 30px;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 370px;
    width: 100%;
  }

  &__suptitle {
    color: var(--grey, #A7A7A7);
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
}

.about-page {

  .case {
    &__slider-item {
      padding: 0;
      opacity: 0;

      &.slick-slide.slick-current .case__cover-btn {
        display: none;
      }
    }

    &__slider .slick-track {
      background: transparent;
    }

    &__cover-btn {
      background: var(--white, #fff);
    }

    &__slider .slick-arrow {
      top: 50%;
    }

    &__cover-btn::before {
      background: radial-gradient(circle at right top, transparent 30px, var(--white, #fff) 30px);
    }

    &__cover-btn::after {
      background: radial-gradient(circle at right bottom, transparent 30px, var(--white, #fff) 30px);
    }
  }

  .construction {
    background: var(--black, #2E2D2D);
    padding: 100px 0;
    color: var(--white, #fff);

    &__head {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 40px;
    }

    &__suptitle {
      color: var(--grey, #A7A7A7);
    }

    &__item-title {
      background: var(--black, #2E2D2D);
    }

    &__item-title::before {
      background: radial-gradient(circle at right top, transparent 30px, var(--black, #2E2D2D) 30px);
    }

    &__item-title::after {
      background: radial-gradient(circle at right top, transparent 30px, var(--black, #2E2D2D) 30px);
    }
  }
}

.command {

  &__head {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
  }

  &__slider {
    width: calc(100% + 30px);
    margin-left: -15px;

    .slick-arrow {
      position: absolute;
      top: -92px;
      right: 15px;
      background: transparent;
      width: 52px;
      height: 52px;
      border-radius: 10px;
      border: 1px solid var(--grey2, #EFEFEF);

      &.slick-prev {
        right: 77px;
      }
    }

    &-item {
      margin: 0 15px;
    }
  }

  &__item {

    &-block {
      position: relative;
      margin-bottom: 20px;
    }

    &-photo {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 30px 30px 30px 0;
    }

    &-name {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: absolute;
      bottom: 0;
      left: 0;
      background: var(--white, #fff);
      border-radius: 0 30px 0 0;
      padding: 30px 30px 0 0;

      &::before {
        content: "";
        width: 30px;
        height: 30px;
        background: radial-gradient(circle at right top, transparent 30px, var(--white, #fff) 30px);
        position: absolute;
        top: -30px;
        left: 0;
        z-index: 2;
      }

      &::after {
        content: "";
        width: 30px;
        height: 30px;
        background: radial-gradient(circle at right top, transparent 30px, var(--white, #fff) 30px);
        position: absolute;
        bottom: 0;
        right: -30px;
        z-index: 2;
      }
    }
  }
}