.supervision {

  &__inner {
    position: relative;
  }

  &__content {
    width: 50%;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 30px;
    width: 470px;
    height: auto;
    object-fit: cover;
  }
}

.design-types {
  background: var(--bg, #F9F9F9);

  &__inner {
    width: 50%;
    padding: 100px 0;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__suptitle {
    color: var(--grey, #A7A7A7);
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;

    &-img {
      width: 12px;
      height: auto;
    }
  }
}

.design-stages {
  background: var(--bg, #F9F9F9);

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
  }

  &__content {
    width: 50%;
  }

  &__img {
    width: 470px;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__suptitle {
    color: var(--grey, #A7A7A7);
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;

    &-img {
      width: 12px;
      height: auto;
    }
  }
}

.design-composition {
  background: var(--black, #2E2D2D);

  &__inner {
    padding: 100px 0;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
    color: var(--white, #fff);
  }

  &__suptitle {
    color: var(--grey, #A7A7A7);
  }

  &__items {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 33%;
    padding: 60px 30px 30px;
    border-radius: 30px;
    background: var(--brown2, #353434);
    color: var(--white, #fff);
    position: relative;

    &-title {
      z-index: 1;
    }

    &-text {
      z-index: 1;
      color: var(--grey, #A7A7A7);
    }

    &-num {
      color: var(--black, #2E2D2D);
      font-size: 150px;
      font-weight: 700;
      line-height: 130%;
      position: absolute;
      top: -70px;
      left: 30px;
      z-index: 0;
    }
  }

  &__text {
    color: var(--grey, #A7A7A7);
    margin-bottom: 40px;
  }
}

.command {

  &__head {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
  }

  &__slider {

    .slick-arrow {
      position: absolute;
      top: -92px;
      right: 0;
      background: transparent;
      width: 52px;
      height: 52px;
      border-radius: 10px;
      border: 1px solid var(--grey2, #EFEFEF);

      &.slick-prev {
        right: 62px;
      }
    }
  }

  &__item {

    &-block {
      position: relative;
      margin-bottom: 20px;
    }

    &-photo {
      border-radius: 30px 30px 30px 0;
    }

    &-name {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: absolute;
      bottom: 0;
      left: 0;
      background: var(--white, #fff);
      border-radius: 0 30px 0 0;
      padding: 30px 30px 0 0;

      &::before {
        content: "";
        width: 30px;
        height: 30px;
        background: radial-gradient(circle at right top, transparent 30px, var(--white, #fff) 30px);
        position: absolute;
        top: -30px;
        left: 0;
        z-index: 2;
      }

      &::after {
        content: "";
        width: 30px;
        height: 30px;
        background: radial-gradient(circle at right top, transparent 30px, var(--white, #fff) 30px);
        position: absolute;
        bottom: 0;
        right: -30px;
        z-index: 2;
      }
    }
  }
}

.licenses {
  background: var(--bg, #F9F9F9);

  &__inner {
    padding: 100px 0;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
  }

  &__suptitle {
    color: var(--grey, #A7A7A7);
  }

  &__items {
    display: flex;
    gap: 30px;
  }

  &__item {
    max-width: 270px;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    position: relative;

    &-img {
      width: 100%;
      height: auto;
      object-fit: cover;
      padding: 30px 30px 16px;
      background: var(--white, #fff);
    }

    &-name {
      position: absolute;
      bottom: 0;
      z-index: 1;
      width: 100%;
      height: auto;
      padding: 30px;
      background: var(--grey2, #EFEFEF);
      text-align: center;
    }
  }
}