.documents {
  margin-bottom: 60px;

  &__inner {}

  &__suptitle {
    margin-bottom: 40px;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
  }

  &__text {
    color: var(--grey, #A7A7A7);
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    display: flex;
    justify-content: center;
    width: calc(25% - 22.5px);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--grey2, #EFEFEF);
    color: var(--black, #2E2D2D);

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 210/304;
      padding: 30px 30px 16px;
      background: var(--white, #fff);
    }

    &-name {
      position: absolute;
      bottom: 0;
      z-index: 1;
      width: 100%;
      height: auto;
      padding: 30px;
      background: var(--grey2, #EFEFEF);
      text-align: center;
    }
  }
}

.documents-page .licenses {
  margin-bottom: 60px;
}

.licenses {
  background: none;

  &__inner {
    padding: 0;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
  }

  &__suptitle {
    color: var(--grey, #A7A7A7);
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    display: flex;
    justify-content: center;
    width: calc(25% - 22.5px);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--grey2, #EFEFEF);
    color: var(--black, #2E2D2D);

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 210/304;
      padding: 30px 30px 16px;
      background: var(--white, #fff);
    }

    &-name {
      position: absolute;
      bottom: 0;
      z-index: 1;
      width: 100%;
      height: auto;
      padding: 30px;
      background: var(--grey2, #EFEFEF);
      text-align: center;
    }
  }
}

.regulations {

  &__head {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
  }

  &__text {
    color: var(--grey, #A7A7A7);
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    width: calc(25% - 22.5px);
    height: 270px;
    border-radius: 30px;
    overflow: hidden;
    background: var(--white, #fff);

    &-link {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      height: 100%;
      padding: 30px;
      background: var(--grey2, #EFEFEF);
      color: var(--black, #2E2D2D);
      clip-path: polygon(100% 0, 100% 100%, 100% 100%, 0 100%, 0 0);
      transition: all 0.2s ease-out;

      &:hover {
        clip-path: polygon(100% 0, 100% calc(100% - 60px), calc(100% - 60px) 100%, 0 100%, 0 0);
        transition: all 0.2s ease-out;
      }

      &:hover::before {
        transform: translate3d(0, 0, 0);
        transition: all 0.2s ease-out;
      }

      &::before {
        content: "";
        display: block;
        width: 60px;
        height: 60px;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 30px 0 0 0;
        background: var(--brown, #857067);
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        transform: translate3d(60px, 60px, 60px);
        transition: all 0.2s ease-out;
      }
    }

    &-format {
      font-weight: 500;
    }
  }
}