.reviews {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    display: flex;
    gap: 30px;

    &-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 30px;
      border-radius: 30px;
      width: 100%;
      background: var(--bg, #F9F9F9);
    }

    &-img {
      max-width: 470px;
      width: 100%;
      height: auto;
      object-fit: cover;
      object-fit: cover;
      border-radius: 30px;
    }

    &-date {
      margin-top: auto;
    }
  }

  &__btn {
    width: 100%;
    margin-top: 10px;
  }
}

.reviews-page {
  .callback {

    &__img {
      bottom: -16px;
      right: 0;
      border-radius: 0 85px 60px 0;
      width: 454px;
      height: 436px;
    }

    &__form {
      align-items: center;
      flex-wrap: wrap;
      max-width: 710px;
    }

    &__textarea {
      padding: 16px 24px 17px;
      border-radius: 8px;
      background: var(--white, #fff);
      width: 100%;
      height: 90px;
      resize: none;

      &::placeholder {
        color: var(--grey, #A7A7A7);
      }
    }

    &__input-name {
      width: 185px;
    }

    &__input-tel {
      width: 170px;
    }

    &__file {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
  }

  .input__file {

    &-btn {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 8px 15px;
      border-radius: 8px;
      background: var(--brown2, #353434);
      cursor: pointer;
    }

    &-img {
      width: 18px;
      height: 18px;
      object-fit: cover;
    }

    &-text {
      color: var(--grey, #A7A7A7);
    }
  }
}