.supervision-page {

  .supervision-advantages {
    background: var(--bg, #F9F9F9);

    &__inner {
      width: 50%;
      padding: 100px 0;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__suptitle {
      color: var(--grey, #A7A7A7);
      margin-bottom: 40px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 10px;

      &-img {
        width: 12px;
        height: auto;
      }
    }
  }

  .why {

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 40px;
      max-width: 670px;
    }

    &__img {
      width: 370px;
      height: auto;
      object-fit: cover;
    }
  }

  .licenses {
    background: var(--bg, #F9F9F9);
  }

  .licenses__inner {
    padding: 100px 0;
  }

  .licenses__item {
    border: 0;
  }
}