.vacancies {
  &__inner {}

  &__content {}

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__head {
    position: relative;
    border-radius: 30px 30px 30px 0;
    overflow: hidden;

    &-img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    &-title {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 30px 30px 0 0;
      border-radius: 0 30px 0 0;
      background: var(--white, #fff);

      &::before {
        content: "";
        width: 30px;
        height: 30px;
        background: radial-gradient(circle at right top, transparent 30px, var(--white, #fff) 30px);
        position: absolute;
        top: -30px;
        left: 0;
        z-index: 2;
      }

      &::after {
        content: "";
        width: 30px;
        height: 30px;
        background: radial-gradient(circle at right top, transparent 30px, var(--white, #fff) 30px);
        position: absolute;
        bottom: 0;
        right: -30px;
        z-index: 2;
      }
    }

    &-salary {
      color: var(--green, #179860);
    }

    &-body {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &-block {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-title {
      font-weight: 500;
    }

    &-item {
      display: flex;
      gap: 10px;
    }

    &-arrow {
      display: flex;
      align-items: center;
      width: 12px;
      height: 22px;

      svg {
        width: 12px;
        height: 9px;
        object-fit: cover;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 13px;
    }
  }

  &__resume {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    max-width: 570px;
    width: 100%;
    height: fit-content;
    aspect-ratio: 1/0.6;
    border-radius: 30px;
    border: 1px solid var(--grey2, #EFEFEF);

    &-suptitle {
      color: var(--grey, #A7A7A7);
    }

    &-link {
      color: var(--green, #179860);
    }

    &-label {
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 130%;
      cursor: pointer;
    }

    &-input {
      display: none;
    }
  }
}