.works {
  &__inner {}

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
  }

  &__item {
    width: calc(50% - 15px);
    border-radius: 30px 30px 30px 0;
    overflow: hidden;

    &-block {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover .works__content-body {
      max-height: 100vh;
      transition: all 0.5s ease-out;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 66.66%;
    height: fit-content;
    background: var(--white, #fff);
    border-radius: 0 30px 0 0;
    padding: 30px 30px 0 0;
    transition: all 0.2s ease-out;

    &::before {
      content: "";
      width: 30px;
      height: 30px;
      background: radial-gradient(circle at right top, transparent 30px, var(--white, #fff) 30px);
      position: absolute;
      top: -30px;
      left: 0;
      z-index: 2;
    }

    &::after {
      content: "";
      width: 30px;
      height: 30px;
      background: radial-gradient(circle at right top, transparent 30px, var(--white, #fff) 30px);
      position: absolute;
      bottom: 0;
      right: -30px;
      z-index: 2;
    }

    &-head {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &-body {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-height: 0;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    &-item {
      display: flex;
      gap: 8px;
      width: calc(50% - 5px);
    }

    &-img {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }
}

.works-page .map {
  margin-bottom: 248px;
}

.statement {

  &__inner {
    display: flex;
    gap: 30px;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 370px;
    width: 100%;
  }

  &__suptitle {
    color: var(--grey, #A7A7A7);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
}

.filter__sorting {
  display: none;

}

.sorting {
  position: absolute;
  right: -100%;
  top: 0;
  z-index: 1003;
  max-width: 270px;
  width: 100%;
  height: 100vh;
  padding: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.2s ease-out;
  background: var(--bg, #F9F9F9);

  &.sorting-active {
    right: 0;
    transition: all 0.2s ease-out;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  &__close {
    display: block;
    width: 14px;
    height: 1.5px;
    border-radius: 1.5px;
    background: transparent;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 18px;
      height: 1.5px;
      border-radius: 1.5px;
      background: var(--green, #179860);
      position: absolute;
      top: -0;
      left: 0;
      transform: rotate(-45deg);
    }

    &::after {
      content: "";
      display: block;
      width: 18px;
      height: 1.5px;
      border-radius: 3px;
      background: var(--green, #179860);
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(45deg);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__text {
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  button {
    width: 100%;
  }

  .filter__item-btn {
    justify-content: space-between;
  }
}